@model IntelligenceCloud.Models.AttachSingleViewModel
@using IntelligenceCloud.Helpers
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>詳細資料</h2>

<h4>附件</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.AttachDetail.AttachmentPath)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AttachDetail.AttachmentPath)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AttachDetail.AttachmentName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AttachDetail.AttachmentName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AttachDetail.AttachmentType)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AttachDetail.AttachmentType)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AttachDetail.AttachmentUse)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AttachDetail.AttachmentUse)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AttachDetail.MemberId)
                    </dt>

                    <dd>
                        @Html.DisplayName(IdentityHelper.GetMemberName(Model.AttachDetail.MemberId))
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.AttachDetail.UploadTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AttachDetail.UploadTime)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.AttachDetail.DownloadTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AttachDetail.DownloadTime)
                    </dd>

                </dl>
            </div>

        </div>
        @if (Model.AttachDetail.AttachmentRecord.Count > 0)
    {
        <div class="col-xs-6">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.AttachDetail.AttachmentRecord)
                </dt>
                @foreach (var item in Model.AttachDetail.AttachmentRecord)
            {
                <dd>
                    @Html.DisplayFor(modelItem => item.TimeDownload)
                </dd>
        }
            </dl>
        </div>
}
        <div class="col-xs-6">
            @Html.ActionLink("下載原始檔案", "Download", new { id = Model.AttachDetail.AttachmentId }, new { @class = "btn btn-default pull-right" })

        </div>
            @if (Model.AttachDetail.AttachmentUse == "通聯記錄")
            {
            <div class="col-xs-6 " >
                <div class="btn-group btn-group-vertical pull-right">
                @Html.ActionLink("觀看資料庫的檔案", "Index", "CommunRecords", new { id = Model.AttachDetail.AttachmentId }, new { @class = "btn btn-default pull-right" })
                @Html.ActionLink("下載資料庫的檔案", "Download", "CommunRecords", new { id = Model.AttachDetail.AttachmentId }, new { @class = "btn btn-default pull-right" })
                </div>
             </div>
            }
        </div>
</div>

@if(Model.AttachFile != null)
{
<div class="well">
    <table typeof="table" class="table">
        <caption> Excel 預覽</caption>
        @for (int i = 0; i < Model.AttachFile.Table.Count(); i++)
        {
            <tr>
                @for (int j = 0; j < Model.AttachFile.Table[i].XmlRow.Count(); j++)
                {
                    <td>
                        @Html.DisplayFor(c => c.AttachFile.Table[i].XmlRow[j])
                    </td>
                }
            </tr>
        }
    </table>
</div>
}
@if(Model.AttahcFilePath != null)
{
<div class="well">
    <img src="@Url.Content(Model.AttahcFilePath)" alt="IMAGES" />
    
</div>
}

<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
